Publish/Schemas/COCD_TP146246GB01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : COCD_TP146246GB01.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/CDAVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-000081_Role.xsd"/>
   <xs:group name="COCD_TP146246GB01">
      <xs:sequence>
         <xs:element name="COCD_TP146246GB01.Section1" type="COCD_TP146246GB01.Section1"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCD_TP146246GB01.Author_1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:element name="functionCode" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="required" fixed="OA" type="cs"/>
                     <xs:attribute name="displayName" use="required" fixed="Originating Author" type="st"/>
                     <xs:attribute name="codeSystem" use="required" fixed="2.16.840.1.113883.2.1.3.2.4.17.178"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#author"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="time" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:choice>
            <xs:group ref="NPFIT-000081_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#component4"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="section5" type="COCD_TP146246GB01.Section5" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#component5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="section6" type="COCD_TP146246GB01.Section6" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#component1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="section2" type="COCD_TP146246GB01.Section2" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Component4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#component2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="section3" type="COCD_TP146246GB01.Section3" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Component5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#component3"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="section4" type="COCD_TP146246GB01.Section4" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Section1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#Section1"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="COCD_TP146246GB01.Author_1" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component1" type="COCD_TP146246GB01.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Section2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#section2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component2" type="COCD_TP146246GB01.Component4" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Section3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#section3"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component3" type="COCD_TP146246GB01.Component5" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Section4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#section4"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component4" type="COCD_TP146246GB01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Section5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#section5"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component5" type="COCD_TP146246GB01.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCD_TP146246GB01.Section6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="templateId" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st">
                              <xs:enumeration value="COCD_TP146246GB01#section6"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
</xs:schema>