Publish/AssociatedSpecifications/Nullification/AssociatedSpecifications/TMSInfrastructure/Schemas/MCAI_MT040101UK03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : MCAI_MT040101UK03.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/InfVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:include schemaLocation="UKCT_MT121001UK01.xsd"/>
   <xs:include schemaLocation="UKCT_MT120901UK01.xsd"/>
   <xs:element name="ControlActEvent" type="MCAI_MT040101UK03.ControlActEvent"/>
   <xs:complexType name="MCAI_MT040101UK03.Act">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT040101UK03.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="AgentPersonSDS" type="UKCT_MT120901UK01.AgentPersonSDS" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT040101UK03.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="AgentSystemSDS" type="UKCT_MT121001UK01.AgentSystemSDS" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT040101UK03.ControlActEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="author1" type="MCAI_MT040101UK03.Author2" minOccurs="1" maxOccurs="2"/>
         <xs:element name="author" type="MCAI_MT040101UK03.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subject" type="MCAI_MT040101UK03.Subject" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reason" type="MCAI_MT040101UK03.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="CACT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT040101UK03.DetectedIssueEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required" fixed="ALRT"/>
      <xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT040101UK03.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="justifyingDetectedIssueEvent" type="MCAI_MT040101UK03.DetectedIssueEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="RSON"/>
   </xs:complexType>
   <xs:complexType name="MCAI_MT040101UK03.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="act" type="MCAI_MT040101UK03.Act" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required" fixed="SUBJ"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required" fixed="false"/>
   </xs:complexType>
</xs:schema>