Publish/AssociatedSpecifications/Nullification/AssociatedSpecifications/GenericCDA/Schemas/POCD_MT000001UK04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:npfitlc="NPFIT:HL7:Localisation" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : POCD_MT000001UK04.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:include schemaLocation="../dt/NarrativeBlock.xsd"/>
	<xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
	<xs:element name="ClinicalDocument" type="POCD_MT000001UK04.ClinicalDocument"/>
	<xs:complexType name="POCD_MT000001UK04.InfrastructureRoot.typeId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
				<xs:attribute name="extension" type="st" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Act">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK04.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK04.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK04.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK04.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_ActClassDocumentEntryAct" use="required"/>
		<xs:attribute name="moodCode" type="x_DocumentActMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.AssignedAuthor">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="assignedPerson" type="POCD_MT000001UK04.Person" minOccurs="0"/>
				<xs:element name="assignedAuthoringDevice" type="POCD_MT000001UK04.AuthoringDevice" minOccurs="0"/>
			</xs:choice>
			<xs:element name="representedOrganization" type="POCD_MT000001UK04.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.AssignedCustodian">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="representedCustodianOrganization" type="POCD_MT000001UK04.CustodianOrganization"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.AssignedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="assignedPerson" type="POCD_MT000001UK04.Person" minOccurs="0"/>
			<xs:element name="representedOrganization" type="POCD_MT000001UK04.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.AssociatedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="associatedPerson" type="POCD_MT000001UK04.Person" minOccurs="0"/>
			<xs:element name="scopingOrganization" type="POCD_MT000001UK04.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssociative" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Authenticator">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureCode" type="CS"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="AUTHEN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Author">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="functionCode" type="CV"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="assignedAuthor" type="POCD_MT000001UK04.AssignedAuthor"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.AuthoringDevice">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="manufacturerModelName" type="SC" minOccurs="0"/>
			<xs:element name="softwareName" type="SC" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ClinicalDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:messageType"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="title" type="ST"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="confidentialityCode" type="CV"/>
			<xs:element name="setId" type="II"/>
			<xs:element name="versionNumber" type="INT"/>
			<xs:element name="recordTarget" type="POCD_MT000001UK04.RecordTarget"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="POCD_MT000001UK04.DataEnterer" minOccurs="0"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="custodian" type="POCD_MT000001UK04.Custodian"/>
			<xs:element name="informationRecipient" type="POCD_MT000001UK04.InformationRecipient" maxOccurs="unbounded"/>
			<xs:element name="legalAuthenticator" type="POCD_MT000001UK04.LegalAuthenticator" minOccurs="0"/>
			<xs:element name="authenticator" type="POCD_MT000001UK04.Authenticator" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="POCD_MT000001UK04.InFulfillmentOf" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="documentationOf" type="POCD_MT000001UK04.DocumentationOf" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="relatedDocument" type="POCD_MT000001UK04.RelatedDocument" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="componentOf" type="POCD_MT000001UK04.Component1" minOccurs="0"/>
			<xs:element name="component" type="POCD_MT000001UK04.Component2"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Component1">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="encompassingEncounter" type="POCD_MT000001UK04.EncompassingEncounter"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Component2">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:choice>
				<xs:element name="structuredBody" type="POCD_MT000001UK04.StructuredBody"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Component3">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="section" type="POCD_MT000001UK04.Section"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Component4">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="POCD_MT000001UK04.Act"/>
				<xs:element name="encounter" type="POCD_MT000001UK04.Encounter"/>
				<xs:element name="observation" type="POCD_MT000001UK04.Observation"/>
				<xs:element name="organizer" type="POCD_MT000001UK04.Organizer"/>
				<xs:element name="procedure" type="POCD_MT000001UK04.Procedure"/>
				<xs:element name="substanceAdministration" type="POCD_MT000001UK04.SubstanceAdministration"/>
				<xs:element name="supply" type="POCD_MT000001UK04.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Component5">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="section" type="POCD_MT000001UK04.Section"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Consumable">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="manufacturedProduct" type="POCD_MT000001UK04.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="CSM"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Criterion">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Custodian">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="assignedCustodian" type="POCD_MT000001UK04.AssignedCustodian"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.CustodianOrganization">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II"/>
			<xs:element name="name" type="ON"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.DataEnterer">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="time" type="TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Device">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="manufacturerModelName" type="SC" minOccurs="0"/>
			<xs:element name="softwareName" type="SC" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.DocumentationOf">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="serviceEvent" type="POCD_MT000001UK04.ServiceEvent"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="DOC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.EncompassingEncounter">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="dischargeDispositionCode" type="CE" minOccurs="0"/>
			<xs:element name="responsibleParty" type="POCD_MT000001UK04.ResponsibleParty" minOccurs="0"/>
			<xs:element name="encounterParticipant" type="POCD_MT000001UK04.EncounterParticipant" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="POCD_MT000001UK04.Location" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="moodCode" type="cs" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Encounter">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK04.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK04.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK04.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK04.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ENC"/>
		<xs:attribute name="moodCode" type="x_DocumentEncounterMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.EncounterParticipant">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_EncounterParticipant" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Entity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Entry">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="POCD_MT000001UK04.Act"/>
				<xs:element name="encounter" type="POCD_MT000001UK04.Encounter"/>
				<xs:element name="observation" type="POCD_MT000001UK04.Observation"/>
				<xs:element name="organizer" type="POCD_MT000001UK04.Organizer"/>
				<xs:element name="procedure" type="POCD_MT000001UK04.Procedure"/>
				<xs:element name="substanceAdministration" type="POCD_MT000001UK04.SubstanceAdministration"/>
				<xs:element name="supply" type="POCD_MT000001UK04.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipEntry" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.EntryRelationship">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="POCD_MT000001UK04.Act"/>
				<xs:element name="encounter" type="POCD_MT000001UK04.Encounter"/>
				<xs:element name="observation" type="POCD_MT000001UK04.Observation"/>
				<xs:element name="organizer" type="POCD_MT000001UK04.Organizer"/>
				<xs:element name="procedure" type="POCD_MT000001UK04.Procedure"/>
				<xs:element name="substanceAdministration" type="POCD_MT000001UK04.SubstanceAdministration"/>
				<xs:element name="supply" type="POCD_MT000001UK04.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipEntryRelationship" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ExternalAct">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CS"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.HealthCareFacility">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="location" type="POCD_MT000001UK04.Place" minOccurs="0"/>
			<xs:element name="serviceProviderOrganization" type="POCD_MT000001UK04.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Informant12">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
				<xs:element name="relatedEntity" type="POCD_MT000001UK04.RelatedEntity"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="INF"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.InformationRecipient">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="intendedRecipient" type="POCD_MT000001UK04.IntendedRecipient"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_InformationRecipient" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.InFulfillmentOf">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="order" type="POCD_MT000001UK04.Order"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="FLFS"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.IntendedRecipient">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:recipientRoleCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informationRecipient" type="POCD_MT000001UK04.Person" minOccurs="0"/>
			<xs:element name="receivedOrganization" type="POCD_MT000001UK04.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_InformationRecipientRole" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.LabeledDrug">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="name" type="EN" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="MMAT"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="KIND"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.LanguageCommunication">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="languageCode" type="CS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="proficiencyLevelCode" type="CE" minOccurs="0"/>
			<xs:element name="preferenceInd" type="BL" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.LegalAuthenticator">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureCode" type="CS"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="LA"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Location">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="healthCareFacility" type="POCD_MT000001UK04.HealthCareFacility"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="LOC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ManufacturedProduct">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="manufacturedLabeledDrug" type="POCD_MT000001UK04.LabeledDrug"/>
				<xs:element name="manufacturedMaterial" type="POCD_MT000001UK04.Material"/>
			</xs:choice>
			<xs:element name="manufacturerOrganization" type="POCD_MT000001UK04.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="MANU"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Material">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="name" type="EN" minOccurs="0"/>
			<xs:element name="lotNumberText" type="ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="MMAT"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="KIND"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Observation">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="value" type="ANY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimen" type="POCD_MT000001UK04.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK04.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK04.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK04.Precondition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referenceRange" type="POCD_MT000001UK04.ReferenceRange" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ObservationRange">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="value" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="interpretationCode" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Order">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ACT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="RQO"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Organization">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="standardIndustryClassCode" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Organizer">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK04.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK04.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK04.Precondition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="POCD_MT000001UK04.Component4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_ActClassDocumentEntryOrganizer" use="required"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ParentDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="setId" type="II"/>
			<xs:element name="versionNumber" type="INT"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Participant1">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="functionCode" type="CE" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="associatedEntity" type="POCD_MT000001UK04.AssociatedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Participant2">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="awarenessCode" type="CE" minOccurs="0"/>
			<xs:element name="participantRole" type="POCD_MT000001UK04.ParticipantRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ParticipantRole">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="playingDevice" type="POCD_MT000001UK04.Device" minOccurs="0"/>
				<xs:element name="playingEntity" type="POCD_MT000001UK04.PlayingEntity" minOccurs="0"/>
			</xs:choice>
			<xs:element name="scopingEntity" type="POCD_MT000001UK04.Entity" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Patient">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="administrativeGenderCode" type="CV" minOccurs="0"/>
			<xs:element name="birthTime" type="TS" minOccurs="0"/>
			<xs:element name="languageCommunication" type="POCD_MT000001UK04.LanguageCommunication" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.PatientRole">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patient" type="POCD_MT000001UK04.Patient" minOccurs="0"/>
			<xs:element name="providerOrganization" type="POCD_MT000001UK04.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PAT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Performer1">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="functionCode" type="CE" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Performer2">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Person">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="PN" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Place">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN"/>
			<xs:element name="addr" type="AD"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PLC"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.PlayingEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Precondition">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="criterion" type="POCD_MT000001UK04.Criterion"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRCN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Procedure">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimen" type="POCD_MT000001UK04.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK04.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK04.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK04.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PROC"/>
		<xs:attribute name="moodCode" type="x_DocumentProcedureMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Product">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="manufacturedProduct" type="POCD_MT000001UK04.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRD"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.RecordTarget">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="patientRole" type="POCD_MT000001UK04.PatientRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Reference">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="externalAct" type="POCD_MT000001UK04.ExternalAct"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipExternalReference" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ReferenceRange">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="observationRange" type="POCD_MT000001UK04.ObservationRange"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="REFV"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.RelatedDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="parentDocument" type="POCD_MT000001UK04.ParentDocument"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.RelatedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="relatedPerson" type="POCD_MT000001UK04.Person" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ResponsibleParty">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK04.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RESP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Section">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="title" type="ST" minOccurs="0"/>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CV" minOccurs="0"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entry" type="POCD_MT000001UK04.Entry" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="POCD_MT000001UK04.Component5" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.ServiceEvent">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Specimen">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitlc:contentId" minOccurs="0"/>
			<xs:element name="specimenRole" type="POCD_MT000001UK04.SpecimenRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="SPC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.SpecimenRole">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimenPlayingEntity" type="POCD_MT000001UK04.PlayingEntity" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="SPEC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.StructuredBody">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0"/>
			<xs:element name="component" type="POCD_MT000001UK04.Component3" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.SubstanceAdministration">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK04.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consumable" type="POCD_MT000001UK04.Consumable"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK04.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK04.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK04.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK04.Supply">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK04.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD.NPfIT.CDA.Url" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="quantity" type="PQ" minOccurs="0"/>
			<xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK04.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="product" type="POCD_MT000001UK04.Product" minOccurs="0"/>
			<xs:element name="performer" type="POCD_MT000001UK04.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK04.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK04.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK04.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK04.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK04.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK04.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="SPLY"/>
		<xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
	</xs:complexType>
</xs:schema>
