Publish/AssociatedSpecifications/Nullification/Mif/SnomedConfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="snomed" type="SnomedType">
		<xs:unique name="snomed_id">
			<xs:selector xpath="code"/>
			<xs:field xpath="@code"/>
		</xs:unique>
	</xs:element>
	<xs:complexType name="SnomedType">
		<xs:sequence>
			<xs:element name="code" maxOccurs="unbounded">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element name="name"/>
					</xs:sequence>
					<xs:attribute name="code" type="xs:long" use="required"/>
					<xs:attribute name="type" type="TypeList" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Act"/>
			<xs:enumeration value="Event"/>
			<xs:enumeration value="CareRecordElement"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
