Publish/AssociatedSpecifications/Nullification/VocabularySchemas/CDAVocab.xsd

<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" version="4.0">
	<xs:include schemaLocation="../dt/datatypes.xsd"/>
	<xs:simpleType name="AuthorFunctionType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="OA"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="DA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuthorFunctionType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Originating Author"/>
			<xs:enumeration value="Sealing Author"/>
			<xs:enumeration value="Last Amending Author"/>
			<xs:enumeration value="Delegated Author"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuthorFunctionType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.178"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_AuthorFunctionType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="AuthorFunctionType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="AuthorFunctionType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_AuthorFunctionType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="AuthorFunctionType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BusinessSectionType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>3.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="AI"/>
			<xs:enumeration value="PI"/>
			<xs:enumeration value="CCEI"/>
			<xs:enumeration value="ARFP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusinessSectionType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>3.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Administrative Information"/>
			<xs:enumeration value="Presenting Information"/>
			<xs:enumeration value="Current Care Event Information"/>
			<xs:enumeration value="Advice, Recommendations and Future Plan"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusinessSectionType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>3.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.159"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_BusinessSectionType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="BusinessSectionType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="BusinessSectionType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_BusinessSectionType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="BusinessSectionType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CDAActCode_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="CRT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAActCode_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Clinically Relevant Time"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAActCode_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.180"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CDAActCode">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CDAActCode_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CDAActCode_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CDAActCode">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CDAActCode_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CDAAdministrationType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="DO"/>
			<xs:enumeration value="CO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAAdministrationType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="administration of a dose"/>
			<xs:enumeration value="administration of a complete course"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAAdministrationType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.185"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CDAAdministrationType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CDAAdministrationType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CDAAdministrationType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CDAAdministrationType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CDAAdministrationType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CDAOrganizationType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="001"/>
			<xs:enumeration value="002"/>
			<xs:enumeration value="003"/>
			<xs:enumeration value="004"/>
			<xs:enumeration value="005"/>
			<xs:enumeration value="006"/>
			<xs:enumeration value="007"/>
			<xs:enumeration value="008"/>
			<xs:enumeration value="009"/>
			<xs:enumeration value="010"/>
			<xs:enumeration value="011"/>
			<xs:enumeration value="012"/>
			<xs:enumeration value="013"/>
			<xs:enumeration value="014"/>
			<xs:enumeration value="015"/>
			<xs:enumeration value="016"/>
			<xs:enumeration value="017"/>
			<xs:enumeration value="018"/>
			<xs:enumeration value="019"/>
			<xs:enumeration value="020"/>
			<xs:enumeration value="021"/>
			<xs:enumeration value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAOrganizationType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="General Medical Practice"/>
			<xs:enumeration value="General Dental Practice"/>
			<xs:enumeration value="Community Pharmacy"/>
			<xs:enumeration value="Community Opticians"/>
			<xs:enumeration value="Primary Care Trust"/>
			<xs:enumeration value="Strategic Health Authority"/>
			<xs:enumeration value="Special Health Authority"/>
			<xs:enumeration value="Acute Trust"/>
			<xs:enumeration value="Care Trust"/>
			<xs:enumeration value="Community Trust"/>
			<xs:enumeration value="Diagnostic and Investigation Centre"/>
			<xs:enumeration value="Walk-in Centre"/>
			<xs:enumeration value="NHS Direct"/>
			<xs:enumeration value="Local Authority Social Services Department"/>
			<xs:enumeration value="Nursing Home"/>
			<xs:enumeration value="Residential Home"/>
			<xs:enumeration value="Hospice"/>
			<xs:enumeration value="Ambulance Trust"/>
			<xs:enumeration value="Private Hospital"/>
			<xs:enumeration value="GMP Deputising Service"/>
			<xs:enumeration value="Nursing Agency"/>
			<xs:enumeration value="Not specified"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAOrganizationType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.191"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CDAOrganizationType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CDAOrganizationType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CDAOrganizationType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CDAOrganizationType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CDAOrganizationType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ServiceEventType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.265"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_ServiceEventType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="ServiceEventType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="ServiceEventType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_ServiceEventType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="ServiceEventType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ServiceEventType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="PHME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceEventType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Personal Health Monitoring Event"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAObservationType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="RAF"/>
			<xs:enumeration value="LAR"/>
			<xs:enumeration value="PAR"/>
			<xs:enumeration value="CPF"/>
			<xs:enumeration value="CPA"/>
			<xs:enumeration value="CPED"/>
			<xs:enumeration value="NCR"/>
			<xs:enumeration value="LCR"/>
			<xs:enumeration value="CAFIS"/>
			<xs:enumeration value="CTHT"/>
			<xs:enumeration value="EDD"/>
			<xs:enumeration value="LCPR"/>
			<xs:enumeration value="NCPR"/>
			<xs:enumeration value="THT"/>
			<xs:enumeration value="PDR"/>
			<xs:enumeration value="DIRS"/>
			<xs:enumeration value="DIUI"/>
			<xs:enumeration value="NMHATD"/>
			<xs:enumeration value="ARRE"/>
			<xs:enumeration value="PRC"/>
			<xs:enumeration value="CPDCFR"/>
			<xs:enumeration value="CPDCMRR"/>
			<xs:enumeration value="CPAD"/>
			<xs:enumeration value="CRA"/>
			<xs:enumeration value="CPDOPR"/>
			<xs:enumeration value="CPDONPR"/>
			<xs:enumeration value="OEAWP"/>
			<xs:enumeration value="CRS"/>
			<xs:enumeration value="SF"/>
			<xs:enumeration value="DMRPQ"/>
			<xs:enumeration value="DMRST"/>
			<xs:enumeration value="DRPQ"/>
			<xs:enumeration value="DRST"/>
			<xs:enumeration value="DAPQ"/>
			<xs:enumeration value="DAST"/>
			<xs:enumeration value="WSPO"/>
			<xs:enumeration value="TESOBS"/>
			<xs:enumeration value="BPOBS"/>
			<xs:enumeration value="BMIOBS"/>
			<xs:enumeration value="MBPOBS"/>
			<xs:enumeration value="TEMOBS"/>
			<xs:enumeration value="HOBS"/>
			<xs:enumeration value="WOBS"/>
			<xs:enumeration value="PULOBS"/>
			<xs:enumeration value="THR"/>
			<xs:enumeration value="THRR"/>
			<xs:enumeration value="DSTO"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CHCRS"/>
			<xs:enumeration value="DSTEO"/>
			<xs:enumeration value="DDEF"/>
			<xs:enumeration value="BCOBSSER"/>
			<xs:enumeration value="BGOBSSER"/>
			<xs:enumeration value="BPOBSSER"/>
			<xs:enumeration value="BMIOBSSER"/>
			<xs:enumeration value="BTOBSSER"/>
			<xs:enumeration value="CMOBSSER"/>
			<xs:enumeration value="COBSSER"/>
			<xs:enumeration value="FEVOBSSER"/>
			<xs:enumeration value="FVCOBSSER"/>
			<xs:enumeration value="HOBSSER"/>
			<xs:enumeration value="MBPOBSSER"/>
			<xs:enumeration value="OSOBSSER"/>
			<xs:enumeration value="PFOBSSER"/>
			<xs:enumeration value="PROBSSER"/>
			<xs:enumeration value="TOBSSER"/>
			<xs:enumeration value="WOBSSER"/>
			<xs:enumeration value="THRI"/>
			<xs:enumeration value="BPTHR"/>
			<xs:enumeration value="WTHR"/>
			<xs:enumeration value="PRTHR"/>
			<xs:enumeration value="MBPTHR"/>
			<xs:enumeration value="BGTHR"/>
			<xs:enumeration value="PFTHR"/>
			<xs:enumeration value="FVCTHR"/>
			<xs:enumeration value="BTTHR"/>
			<xs:enumeration value="BMITHR"/>
			<xs:enumeration value="FEVTHR"/>
			<xs:enumeration value="TTHR"/>
			<xs:enumeration value="CTHR"/>
			<xs:enumeration value="OSTHR"/>
			<xs:enumeration value="CMTHR"/>
			<xs:enumeration value="PTTHR"/>
			<xs:enumeration value="APTTTHR"/>
			<xs:enumeration value="CSOBS"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="HUO"/>
			<xs:enumeration value="EMP"/>
			<xs:enumeration value="SCROT"/>
			<xs:enumeration value="DROCT"/>
			<xs:enumeration value="APTTROCT"/>
			<xs:enumeration value="BGROCT"/>
			<xs:enumeration value="BMIROCT"/>
			<xs:enumeration value="BTROCT"/>
			<xs:enumeration value="CMROCT"/>
			<xs:enumeration value="CROCT"/>
			<xs:enumeration value="FEVROCT"/>
			<xs:enumeration value="FVCROCT"/>
			<xs:enumeration value="MBPROCT"/>
			<xs:enumeration value="OSROCT"/>
			<xs:enumeration value="PFROCT"/>
			<xs:enumeration value="PTROCT"/>
			<xs:enumeration value="PRROCT"/>
			<xs:enumeration value="TROCT"/>
			<xs:enumeration value="WROCT"/>
			<xs:enumeration value="TFT"/>
			<xs:enumeration value="ART"/>
			<xs:enumeration value="BV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAObservationType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="ReAdmission Flag"/>
			<xs:enumeration value="Last Assessment Review"/>
			<xs:enumeration value="Planned Assessment Review"/>
			<xs:enumeration value="Copy Provided Flag"/>
			<xs:enumeration value="Care Plan Agreement"/>
			<xs:enumeration value="Component Planned End Date"/>
			<xs:enumeration value="Next Component Review"/>
			<xs:enumeration value="Last Component Review"/>
			<xs:enumeration value="CAF Information Set"/>
			<xs:enumeration value="Component Text Heading Type"/>
			<xs:enumeration value="Estimated Discharge Date"/>
			<xs:enumeration value="Last Care Plan Review"/>
			<xs:enumeration value="Next Care Plan Review"/>
			<xs:enumeration value="Text Heading Type"/>
			<xs:enumeration value="Procedure Date Reported"/>
			<xs:enumeration value="DI Report Status"/>
			<xs:enumeration value="Diagnostic Imaging Urgency Indicator"/>
			<xs:enumeration value="Next Mental Health Act Tribunal Date"/>
			<xs:enumeration value="At Risk Register Entry"/>
			<xs:enumeration value="ProtectionRegisterCategory"/>
			<xs:enumeration value="Care Process Date Commenced or First Review"/>
			<xs:enumeration value="Care Process Date Concluded or Most Recent Review"/>
			<xs:enumeration value="Care Process Administration"/>
			<xs:enumeration value="Care Review Administration"/>
			<xs:enumeration value="Care Process Date of Previous Review"/>
			<xs:enumeration value="Care Process Date of Next Planned Review"/>
			<xs:enumeration value="Other Entity Associated With Patient"/>
			<xs:enumeration value="Care Review Status"/>
			<xs:enumeration value="Sampling Frequency"/>
			<xs:enumeration value="Device Measurement Range Physical Quantity"/>
			<xs:enumeration value="Device Measurement Range String"/>
			<xs:enumeration value="Device Resolution Physical Quantity"/>
			<xs:enumeration value="Device Resolution String"/>
			<xs:enumeration value="Device Accuracy Physical Quantity"/>
			<xs:enumeration value="Device Accuracy String"/>
			<xs:enumeration value="Waveform Sample Period Observation"/>
			<xs:enumeration value="Test Result Observation Series"/>
			<xs:enumeration value="Blood Pressure Observation Series"/>
			<xs:enumeration value="BMI Observation Series"/>
			<xs:enumeration value="Mean Blood Pressure Observation Series"/>
			<xs:enumeration value="Temperature Observation Series"/>
			<xs:enumeration value="Height Observation Series"/>
			<xs:enumeration value="Weight Observation Series"/>
			<xs:enumeration value="Pulse Observation Series"/>
			<xs:enumeration value="Threshold"/>
			<xs:enumeration value="Threshold Rate"/>
			<xs:enumeration value="DST Outcome"/>
			<xs:enumeration value="Checklist Outcome"/>
			<xs:enumeration value="CHC Referral Status"/>
			<xs:enumeration value="DST Eligibility Outcome"/>
			<xs:enumeration value="Device Definition"/>
			<xs:enumeration value="Blood Coagulation Observation Series"/>
			<xs:enumeration value="Blood Glucose Observation Series"/>
			<xs:enumeration value="Blood Pressure Observation Series"/>
			<xs:enumeration value="Body Mass Index Observation Series"/>
			<xs:enumeration value="Body Temperature Observation Series"/>
			<xs:enumeration value="Carbon Monoxide Observation Series"/>
			<xs:enumeration value="Cholesterol Observation Series"/>
			<xs:enumeration value="Forced Expiratory Volume of an Observation Series"/>
			<xs:enumeration value="Forced Vital Capacity Observation Series"/>
			<xs:enumeration value="Height Observation Series"/>
			<xs:enumeration value="Mean Blood Pressure Observation Series"/>
			<xs:enumeration value="Oxygen Saturation Observation Series"/>
			<xs:enumeration value="Peak Flow Observation Series"/>
			<xs:enumeration value="Pulse Rate Observation Series"/>
			<xs:enumeration value="Triglycerides Observation Series"/>
			<xs:enumeration value="Weight Observation Series"/>
			<xs:enumeration value="Threshold Interpretation"/>
			<xs:enumeration value="Blood Pressure Threshold"/>
			<xs:enumeration value="Weight Threshold"/>
			<xs:enumeration value="Pulse Rate Threshold"/>
			<xs:enumeration value="Mean Blood Pressure Threshold"/>
			<xs:enumeration value="Blood Glucose Threshold"/>
			<xs:enumeration value="Peak Flow Threshold"/>
			<xs:enumeration value="Forced Vital Capacity Threshold"/>
			<xs:enumeration value="Body Temperature Threshold"/>
			<xs:enumeration value="Body Mass Index Threshold"/>
			<xs:enumeration value="FEV Threshold"/>
			<xs:enumeration value="Triglycerides Threshold"/>
			<xs:enumeration value="Cholesterol Threshold"/>
			<xs:enumeration value="Oxygen Saturation Threshold"/>
			<xs:enumeration value="Carbon Monoxide Threshold"/>
			<xs:enumeration value="Prothrombin Time Threshold"/>
			<xs:enumeration value="Activated Partial Thromboplastin Time Threshold"/>
			<xs:enumeration value="Cuff Size Observation"/>
			<xs:enumeration value="Gestational age"/>
			<xs:enumeration value="Hips ultra sound outcome decision"/>
			<xs:enumeration value="Expert management plan"/>
			<xs:enumeration value="Systolic rate of change threshold"/>
			<xs:enumeration value="Diastolic rate of change threshold"/>
			<xs:enumeration value="APTT rate of change threshold"/>
			<xs:enumeration value="Blood glucose rate of change threshold"/>
			<xs:enumeration value="Body mass index rate of change threshold"/>
			<xs:enumeration value="Body temperature rate of change threshold"/>
			<xs:enumeration value="Carbon monoxide rate of change threshold"/>
			<xs:enumeration value="Cholesterol rate of change threshold"/>
			<xs:enumeration value="FEV rate of change threshold"/>
			<xs:enumeration value="Forced vital capacity rate of change threshold"/>
			<xs:enumeration value="Mean blood pressure rate of change threshold"/>
			<xs:enumeration value="Oxygen saturation rate of change threshold"/>
			<xs:enumeration value="Peak flow rate of change"/>
			<xs:enumeration value="Prothrombin time rate of change threshold"/>
			<xs:enumeration value="Pulse rate rate of change threshold"/>
			<xs:enumeration value="Triglycerides rate of change threshold"/>
			<xs:enumeration value="Weight rate of change threshold"/>
			<xs:enumeration value="Telehealth finding type"/>
			<xs:enumeration value="Alert reason text"/>
			<xs:enumeration value="Base value"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObservationType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.275"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_ObservationType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="ObservationType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="ObservationType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_ObservationType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="ObservationType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ObservationType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="ANDP"/>
			<xs:enumeration value="DNDP"/>
			<xs:enumeration value="MCC"/>
			<xs:enumeration value="RR"/>
			<xs:enumeration value="ESS117"/>
			<xs:enumeration value="CHCS"/>
			<xs:enumeration value="DNDT"/>
			<xs:enumeration value="MCPC"/>
			<xs:enumeration value="STD"/>
			<xs:enumeration value="AGTCN"/>
			<xs:enumeration value="ANRR"/>
			<xs:enumeration value="DNDR"/>
			<xs:enumeration value="DNAR"/>
			<xs:enumeration value="MDTSTD"/>
			<xs:enumeration value="DNCRC"/>
			<xs:enumeration value="ADRRC"/>
			<xs:enumeration value="ADRRT"/>
			<xs:enumeration value="CHCRC"/>
			<xs:enumeration value="CHCRT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObservationType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Assessment Notification Data Payload"/>
			<xs:enumeration value="Discharge Notification Data Payload"/>
			<xs:enumeration value="Mental Capacity (to consent)"/>
			<xs:enumeration value="Reimbursement Rule"/>
			<xs:enumeration value="Eligibility to Services under Section 117"/>
			<xs:enumeration value="Continuing Healthcare Assessment Status"/>
			<xs:enumeration value="Discharge Notification date time"/>
			<xs:enumeration value="Mental Capacity (to agree to plan of care)"/>
			<xs:enumeration value="Safe to Discharge"/>
			<xs:enumeration value="Patient Agreement to Care Need"/>
			<xs:enumeration value="Assessment Notification Reject Reason"/>
			<xs:enumeration value="Discharge Notification Disagree Response"/>
			<xs:enumeration value="Discharge Notification Agree Response"/>
			<xs:enumeration value="MDT Safe to Discharge Date"/>
			<xs:enumeration value="Discharge Notification Cancellation Reason Code"/>
			<xs:enumeration value="Assessment Document Rejection Reason Code"/>
			<xs:enumeration value="Assessment Document Rejection Reason Text"/>
			<xs:enumeration value="Continuing Healthcare Cancellation Reason Code"/>
			<xs:enumeration value="Continuing Healthcare Cancellation Reason Text"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAObservationType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>6.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.220"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CDAObservationType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CDAObservationType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CDAObservationType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CDAObservationType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CDAObservationType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CDAPrescriptionAnnotation_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="SI"/>
			<xs:enumeration value="DI"/>
			<xs:enumeration value="AI"/>
			<xs:enumeration value="AD"/>
			<xs:enumeration value="AT"/>
			<xs:enumeration value="ASF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAPrescriptionAnnotation_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Supply Instructions"/>
			<xs:enumeration value="Dose Instructions"/>
			<xs:enumeration value="Additional Instructions"/>
			<xs:enumeration value="Medication administration Instructions"/>
			<xs:enumeration value="Medication administration type"/>
			<xs:enumeration value="Acute Script Flag"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CDAPrescriptionAnnotation_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.192"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CDAPrescriptionAnnotation">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CDAPrescriptionAnnotation_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CDAPrescriptionAnnotation_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CDAPrescriptionAnnotation">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CDAPrescriptionAnnotation_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="HealthSpaceBusinessSectionType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="PACO"/>
			<xs:enumeration value="DTRQ"/>
			<xs:enumeration value="FAPR"/>
			<xs:enumeration value="DSRQ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HealthSpaceBusinessSectionType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Patient Comments"/>
			<xs:enumeration value="Dietary Requirements"/>
			<xs:enumeration value="Faith Preferences"/>
			<xs:enumeration value="Disability Requirements"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HealthSpaceBusinessSectionType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.175"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_HealthSpaceBusinessSectionType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="HealthSpaceBusinessSectionType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="HealthSpaceBusinessSectionType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_HealthSpaceBusinessSectionType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="HealthSpaceBusinessSectionType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ReasonForDocumentNullification_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReasonForDocumentNullification_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Sent in error"/>
			<xs:enumeration value="Sent to wrong patient record"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReasonForDocumentNullification_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.176"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_ReasonForDocumentNullification">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="ReasonForDocumentNullification_code" use="optional"/>
				<xs:attribute name="codeSystem" type="ReasonForDocumentNullification_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_ReasonForDocumentNullification">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="ReasonForDocumentNullification_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RequesterRelationshipType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequesterRelationshipType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Parent/Legal Guardian of child"/>
			<xs:enumeration value="Clinician on behalf of an adult"/>
			<xs:enumeration value="Clinician on behalf of a child"/>
			<xs:enumeration value="Power of Attorney"/>
			<xs:enumeration value="Court Appointed"/>
			<xs:enumeration value="Patient"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequesterRelationshipType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>2.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.162"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_RequesterRelationshipType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="RequesterRelationshipType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="RequesterRelationshipType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_RequesterRelationshipType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="RequesterRelationshipType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SealEventActionCode_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SealEventActionCode_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Information has been sealed"/>
			<xs:enumeration value="Information has been sealed and locked"/>
			<xs:enumeration value="Information that was sealed and locked is now sealed"/>
			<xs:enumeration value="Information has been unsealed"/>
			<xs:enumeration value="An additional workgroup now has access to some sealed information"/>
			<xs:enumeration value="The new GP workgroup now has access to some sealed information"/>
			<xs:enumeration value="A replacement workgroup now has access to some sealed information due to organizational change"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SealEventActionCode_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.197"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_SealEventActionCode">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="SealEventActionCode_code" use="optional"/>
				<xs:attribute name="codeSystem" type="SealEventActionCode_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_SealEventActionCode">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="SealEventActionCode_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SealingActType_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>3.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="RQTS"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="USE"/>
			<xs:enumeration value="RTS"/>
			<xs:enumeration value="RR"/>
			<xs:enumeration value="RQTUS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SealingActType_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>3.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Request to seal"/>
			<xs:enumeration value="Sealing event"/>
			<xs:enumeration value="Unsealing event"/>
			<xs:enumeration value="Refusal to seal"/>
			<xs:enumeration value="Refusal reason"/>
			<xs:enumeration value="Request to unseal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SealingActType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>3.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.161"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_SealingActType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="SealingActType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="SealingActType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_SealingActType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="SealingActType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SealingRefusalReason_code">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="cs">
			<xs:enumeration value="PI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SealingRefusalReason_displayName">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="st">
			<xs:enumeration value="Public Interest"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SealingRefusalReason_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.160"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_SealingRefusalReason">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="SealingRefusalReason_code" use="optional"/>
				<xs:attribute name="codeSystem" type="SealingRefusalReason_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_SealingRefusalReason">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="SealingRefusalReason_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="x_BasicConfidentialityKind_code">
		<xs:restriction base="cs">
			<xs:enumeration value="N"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="x_BasicConfidentialityKind_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="restricted"/>
			<xs:enumeration value="very restricted"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="x_BasicConfidentialityKind_codeSystem">
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.5.25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_x_BasicConfidentialityKind">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="x_BasicConfidentialityKind_code" use="optional"/>
				<xs:attribute name="codeSystem" type="x_BasicConfidentialityKind_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_x_BasicConfidentialityKind">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="x_BasicConfidentialityKind_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CHLCareDomain_code">
		<xs:restriction base="cs">
			<xs:enumeration value="CHRBEH"/>
			<xs:enumeration value="CHRCOG"/>
			<xs:enumeration value="CHRPSY"/>
			<xs:enumeration value="CHRCOM"/>
			<xs:enumeration value="CHRMOB"/>
			<xs:enumeration value="CHRNUT"/>
			<xs:enumeration value="CHRCON"/>
			<xs:enumeration value="CHRSKI"/>
			<xs:enumeration value="CHRBRE"/>
			<xs:enumeration value="CHRMED"/>
			<xs:enumeration value="CHRCONS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHLCareDomain_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Behaviour"/>
			<xs:enumeration value="Cognition"/>
			<xs:enumeration value="Psychological/Emotional"/>
			<xs:enumeration value="Communication"/>
			<xs:enumeration value="Mobility"/>
			<xs:enumeration value="Nutrition"/>
			<xs:enumeration value="Continence"/>
			<xs:enumeration value="Skin integrity"/>
			<xs:enumeration value="Breathing"/>
			<xs:enumeration value="Drug therapies and medication/ symptom control "/>
			<xs:enumeration value="Altered states of consciousness"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CHLCareDomain">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CHLCareDomain_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CHLCareDomain_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CHLCareDomain">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CHLCareDomain_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CHLCareDomain_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.276"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSTCareDomain_code">
		<xs:restriction base="cs">
			<xs:enumeration value="DSTBEH"/>
			<xs:enumeration value="DSTCOG"/>
			<xs:enumeration value="DSTPSY"/>
			<xs:enumeration value="DSTCOM"/>
			<xs:enumeration value="DSTMOB"/>
			<xs:enumeration value="DSTNUT"/>
			<xs:enumeration value="DSTCON"/>
			<xs:enumeration value="DSTSKI"/>
			<xs:enumeration value="DSTBRE"/>
			<xs:enumeration value="DSTMED"/>
			<xs:enumeration value="DSTCONS"/>
			<xs:enumeration value="DSTOSN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSTCareDomain_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Behaviour"/>
			<xs:enumeration value="Cognition"/>
			<xs:enumeration value="Psychological and Emotional Needs"/>
			<xs:enumeration value="Communication"/>
			<xs:enumeration value="Mobility"/>
			<xs:enumeration value="Nutrition - Food and Drink"/>
			<xs:enumeration value="Continence"/>
			<xs:enumeration value="Skin (including tissue viability)"/>
			<xs:enumeration value="Breathing"/>
			<xs:enumeration value="Drug Therapies and Medication - Symptom Control"/>
			<xs:enumeration value="Altered States of Consciousness"/>
			<xs:enumeration value="Other significant care needs"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_DSTCareDomain">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="DSTCareDomain_code" use="optional"/>
				<xs:attribute name="codeSystem" type="DSTCareDomain_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_DSTCareDomain">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="DSTCareDomain_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DSTCareDomain_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.277"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHLOutcomeLevelOfNeed_code">
		<xs:restriction base="cs">
			<xs:enumeration value="C"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHLOutcomeLevelOfNeed_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="No or Low Needs Identified"/>
			<xs:enumeration value="Some Level of Need Identified"/>
			<xs:enumeration value="Great Level of Need identified"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CHLOutcomeLevelOfNeed">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CHLOutcomeLevelOfNeed_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CHLOutcomeLevelOfNeed_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CHLOutcomeLevelOfNeed">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CHLOutcomeLevelOfNeed_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CHLOutcomeLevelOfNeed_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.278"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSTOutcomeLevelOfNeed_code">
		<xs:restriction base="cs">
			<xs:enumeration value="Priority"/>
			<xs:enumeration value="Severe"/>
			<xs:enumeration value="High"/>
			<xs:enumeration value="Moderate"/>
			<xs:enumeration value="Low"/>
			<xs:enumeration value="NoNeeds"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSTOutcomeLevelOfNeed_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Priority Level of Need Identified"/>
			<xs:enumeration value="Severe Level of Need Identified"/>
			<xs:enumeration value="High Level of Need Identified"/>
			<xs:enumeration value="Some Level of Need Identified"/>
			<xs:enumeration value="Low Level of Need Identified"/>
			<xs:enumeration value="No Needs Identified"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_DSTOutcomeLevelOfNeed">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="DSTOutcomeLevelOfNeed_code" use="optional"/>
				<xs:attribute name="codeSystem" type="DSTOutcomeLevelOfNeed_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_DSTOutcomeLevelOfNeed">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="DSTOutcomeLevelOfNeed_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DSTOutcomeLevelOfNeed_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.279"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHLOutcome_code">
		<xs:restriction base="cs">
			<xs:enumeration value="CHCR"/>
			<xs:enumeration value="NOCHCR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHLOutcome_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Requires referral for Full Assessment for NHS Continuing Healthcare"/>
			<xs:enumeration value="Does not require referral for Full Assessment for NHS Continuing Healthcare"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CHLOutcome">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CHLOutcome_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CHLOutcome_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CHLOutcome">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CHLOutcome_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CHLOutcome_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.280"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHCCancellationReasonCode_code">
		<xs:restriction base="cs">
			<xs:enumeration value="PD"/>
			<xs:enumeration value="OCA"/>
			<xs:enumeration value="MOA"/>
			<xs:enumeration value="PWC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHCCancellationReasonCode_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="The patient has died"/>
			<xs:enumeration value="The patient wishes to make their own care arrangements"/>
			<xs:enumeration value="The patient has moved out of area"/>
			<xs:enumeration value="The patient has withdrawn consent to the assessment process"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CHCCancellationReasonCode">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CHCCancellationReasonCode_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CHCCancellationReasonCode_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CHCCancellationReasonCode">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CHCCancellationReasonCode_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CHCCancellationReasonCode_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.281"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHCRejectionReason_code">
		<xs:restriction base="cs">
			<xs:enumeration value="NOCHCE"/>
			<xs:enumeration value="ASWT"/>
			<xs:enumeration value="NOFTE"/>
			<xs:enumeration value="NEI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHCRejectionReason_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Not eligible for Continuing Healthcare"/>
			<xs:enumeration value="Assessment sent to the incorrect person / team"/>
			<xs:enumeration value="Not eligible for Fast Track"/>
			<xs:enumeration value="Not enough information to complete the assessment"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_CHCRejectionReason">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="CHCRejectionReason_code" use="optional"/>
				<xs:attribute name="codeSystem" type="CHCRejectionReason_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_CHCRejectionReason">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="CHCRejectionReason_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CHCRejectionReason_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.282"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSTEligibilityOutcome_code">
		<xs:restriction base="cs">
			<xs:enumeration value="CHC"/>
			<xs:enumeration value="FNC"/>
			<xs:enumeration value="CJF"/>
			<xs:enumeration value="NOE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DSTEligibilityOutcome_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Eligible for Continuing Healthcare"/>
			<xs:enumeration value="Eligible for Funded Nursing Care"/>
			<xs:enumeration value="Eligible to NHS Contribution to Joint Funding"/>
			<xs:enumeration value="Not Eligible for Continuing Healthcare, Joint Funding or Funded Nursing Care"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_DSTEligibilityOutcome">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="DSTEligibilityOutcome_code" use="optional"/>
				<xs:attribute name="codeSystem" type="DSTEligibilityOutcome_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_DSTEligibilityOutcome">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="DSTEligibilityOutcome_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DSTEligibilityOutcome_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.283"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GPESMessageType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>active</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.324"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_GPESMessageType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="GPESMessageType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="ObservationType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_GPESMessageType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="GPESMessageType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="GPESMessageType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="GPES-E-Q-NT"/>
			<xs:enumeration value="GPES-E-Q-RTPR"/>
			<xs:enumeration value="GPES-Q-E-NT"/>
			<xs:enumeration value="GPES-Q-E-RTP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GPESMessageType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="GPES-E-Q Notification message"/>
			<xs:enumeration value="GPES-E-Q Run Time Parameter Response message"/>
			<xs:enumeration value="GPES-Q-E Notification message"/>
			<xs:enumeration value="GPES-Q-E Run Time Parameter Request message"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_SystemFlagType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="SystemFlagType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="SystemFlagType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_SystemFlagType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="SystemFlagType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="SystemFlagType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.327"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SystemFlagType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="TM"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="TR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SystemFlagType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Patient has suffered trauma flag"/>
			<xs:enumeration value="Fire risk at incident location flag"/>
			<xs:enumeration value="Scene safe flag"/>
			<xs:enumeration value="Police in attendance or required at incident location flag"/>
			<xs:enumeration value="Patient is trapped flag"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_TriageOutcomeType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="TriageOutcomeType_code" use="required"/>
				<xs:attribute name="codeSystem" type="TriageOutcomeType_codeSystem" use="required"/>
				<xs:attribute name="displayName" type="TriageOutcomeType_displayName" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_TriageOutcomeType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="TriageOutcomeType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TriageOutcomeType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.328"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TriageOutcomeType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="TO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TriageOutcomeType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Triage outcome"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_TriageDispositionType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="TriageDispositionType_code" use="required"/>
				<xs:attribute name="codeSystem" type="TriageDispositionType_codeSystem" use="required"/>
				<xs:attribute name="displayName" type="TriageDispositionType_displayName" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_TriageDispositionType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="TriageDispositionType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TriageDispositionType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.419"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TriageDispositionType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="TD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TriageDispositionType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Triage Disposition"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_NHS111TriageDeviceType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="NHS111TriageDeviceType_code" use="required"/>
				<xs:attribute name="codeSystem" type="NHS111TriageDeviceType_codeSystem" use="required"/>
				<xs:attribute name="displayName" type="NHS111TriageDeviceType_displayName" use="prohibited"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_NHS111TriageDeviceType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="NHS111TriageDeviceType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="NHS111TriageDeviceType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.418"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111TriageDeviceType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="TS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111TriageDeviceType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="TriageSystem Software"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_ActStatus">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="ActStatus_code" use="optional"/>
				<xs:attribute name="codeSystem" type="ActStatus_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="ActStatus_displayName" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_ActStatus">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="ActStatus_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ActStatus_code">
		<xs:restriction base="cs">
			<xs:enumeration value="aborted"/>
			<xs:enumeration value="active"/>
			<xs:enumeration value="cancelled"/>
			<xs:enumeration value="completed"/>
			<xs:enumeration value="new"/>
			<xs:enumeration value="nullified"/>
			<xs:enumeration value="suspended"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActStatus_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="aborted"/>
			<xs:enumeration value="active"/>
			<xs:enumeration value="cancelled"/>
			<xs:enumeration value="completed"/>
			<xs:enumeration value="new"/>
			<xs:enumeration value="nullified"/>
			<xs:enumeration value="suspended"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActStatus_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>2.0</version>
			</xs:appinfo>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_NHS111MessageType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="NHS111MessageType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="NHS111MessageType_codeSystem" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="NHS111MessageType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.420"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111MessageType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111MessageType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="NHS111 Repeat Caller Database Request"/>
			<xs:enumeration value="NHS111 Repeat Caller Database Response"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_NHS111RepeatCallerServiceResponseType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="NHS111RepeatCallerServiceResponseType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="NHS111RepeatCallerServiceResponseType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="NHS111RepeatCallerServiceResponseType_displayName" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="NHS111RepeatCallerServiceResponseType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.421"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111RepeatCallerServiceResponseType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="RC"/>
			<xs:enumeration value="NRC"/>
			<xs:enumeration value="PRC"/>
			<xs:enumeration value="IIQ"/>
			<xs:enumeration value="ER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111RepeatCallerServiceResponseType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Repeat Caller"/>
			<xs:enumeration value="Not Repeat Caller"/>
			<xs:enumeration value="Potential Repeat Caller"/>
			<xs:enumeration value="Insufficient Information for Query"/>
			<xs:enumeration value="Repeat Caller Service Error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_NHS111AdditionalNotesType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="NHS111AdditionalNotesType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="NHS111AdditionalNotesType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="NHS111AdditionalNotesType_displayName" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="NHS111AdditionalNotesType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.422"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111AdditionalNotesType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="SPN"/>
			<xs:enumeration value="LAI"/>
			<xs:enumeration value="OAN"/>
			<xs:enumeration value="PRC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NHS111AdditionalNotesType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Special Patient Notes"/>
			<xs:enumeration value="Location Access Information"/>
			<xs:enumeration value="Other Additional Notes"/>
			<xs:enumeration value="Primary Reason for Call  Chief Complaint in recipient systems"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Sex_code">
		<xs:restriction base="cs">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Sex_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="Not known"/>
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
			<xs:enumeration value="Not specified"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:simpleType name="Sex_codeSystem">
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.16.25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_Sex">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="Sex_code" use="optional"/>
				<xs:attribute name="codeSystem" type="Sex_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>-->
	<xs:complexType name="CS_Sex">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="Sex_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EoLCDAObservationType_code">
		<xs:restriction base="cs">
			<xs:enumeration value="EOLCP"/>
			<xs:enumeration value="EOLTLU"/>
			<xs:enumeration value="EOLTST"/>
			<xs:enumeration value="EOLPRD"/>
			<xs:enumeration value="EOLPR"/>
			<xs:enumeration value="EOLADP"/>
			<xs:enumeration value="EOLADL"/>
			<xs:enumeration value="EOLADS"/>
			<xs:enumeration value="EOLBLC"/>
			<xs:enumeration value="EOLDCR"/>
			<xs:enumeration value="EOLDDL"/>
			<xs:enumeration value="EOLAOP"/>
			<xs:enumeration value="EOLLPA"/>
			<xs:enumeration value="EOLDRD"/>
			<xs:enumeration value="EOLRST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EoLCDAObservationType_displayName">
		<xs:restriction base="st">
			<xs:enumeration value="EOL Care Plan"/>
			<xs:enumeration value="EOL Tool Used"/>
			<xs:enumeration value="EOL Current Stage"/>
			<xs:enumeration value="EOL Planned Review Date"/>
			<xs:enumeration value="EOL Patient Relationships"/>
			<xs:enumeration value="EOL Patient ADRT"/>
			<xs:enumeration value="EOL Patient ADRT Docs Location"/>
			<xs:enumeration value="EOL Patient ADRT Discussed"/>
			<xs:enumeration value="EOL Anticipatory Medicine Box Location"/>
			<xs:enumeration value="EOL DNACPR by Senior Responsible Clinician"/>
			<xs:enumeration value="EOL DNACPR Docs Location"/>
			<xs:enumeration value="EOL Aware of Prognosis"/>
			<xs:enumeration value="EOL Authority to LPA"/>
			<xs:enumeration value="EOL DNACPR Review Date"/>
			<xs:enumeration value="EOL Resuscitation Status"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EoLCDAObservationType_codeSystem">
		<xs:annotation>
			<xs:appinfo>
				<status>created</status>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="uid">
			<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.435"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CV_EoLCDAObservationType">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:sequence>
					<xs:element name="originalText" type="ED" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="code" type="EoLCDAObservationType_code" use="optional"/>
				<xs:attribute name="codeSystem" type="EoLCDAObservationType_codeSystem" use="optional"/>
				<xs:attribute name="displayName" type="st" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CS_EoLCDAObservationType">
		<xs:complexContent>
			<xs:restriction base="CS">
				<xs:attribute name="code" type="EoLCDAObservationType_code" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
